<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ShiftCalendarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.ShiftCalendar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ShiftCalendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.common.MidnightRefreshReceiver" android:exported="false" />
        <receiver android:name=".widget.common.BootCompletedReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.day.DayWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_widget_info" />
        </receiver>

        <activity
            android:name=".widget.day.DayWidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.ShiftCalendar.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.common.MemoEditActivity"
            android:exported="false"
            android:theme="@style/Theme.ShiftCalendar.Dialog" />

    </application>
</manifest>
